  /* Center the content */
  * {
    margin: 0;
    padding: 0;
    
  }

  h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }

  h2,
  p {
    color: white;
    font-weight: 500;
    opacity: 0.8;
  }

  h3 {
    color: #84f7fffa;
    font-weight: 600;
    opacity: 0.8;
  }

  main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass {
    background: white;
    min-height: 80vh;
    width: 85%;
    background: linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
  }

  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
  }

  .circle1 {
    top: 2%;
    right: 1%;
  }

  .circle2 {
    bottom: 3%;
    left: 2%;
  }

  .dashboard {
    width: 30vh;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right top, #6cdbeb, #1d8370);
    border-radius: 2rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 2%;
    padding-bottom: 10%;
  }
  .pro {
    background: linear-gradient(to right top, #9ae6f2, #1d8370);
    border-radius: 3rem;
    color: white;
    margin-bottom: 40%;
    position: relative;
    padding: 2%;
  }
  .pro:hover{
    background: linear-gradient(to right top, #9ae6f2, #1d8370);

  }

  
  ul li{
    position: relative;
    border-radius: 30px;
    list-style-type: none;
    background-color:#02081B;
    color: teal;

  }

  
  .nav ul li:nth-child(1) {
    background: linear-gradient(to right top, #1d8370, #6cdbeb);
    border-radius: 50rem solid red;
    width: 80%;
    padding-left: 1px;
    text-align: center;
    color: white;
    border:0px;
    
  }
  #fixedBox {
    position: fixed;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 300px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: hidden;
  }
  #windowContainer {
    display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      max-height: 100%;
  }

  .track {
    background-color: #ccc;
    margin-right: 10px;
  }
  .menu-item {
    margin-bottom: 3px;
    border: 2px solid #ffffff;
    box-shadow: 0 2px #377a75;
    cursor: pointer;
  }
  
  .active {
    background-color: #10cdeb;
    box-shadow: 0 5px #0d7b91;
    transform: translateX(10px);
  }
  
  li:active:nth-child(1){
    transform: translateY(0px);
    box-shadow: 0;

  }
  li:active:nth-child(7){
    transform: translateY(0px);
    box-shadow: 0 0px;

  }

  ul li:hover{
    background: white;
    border: 2px solid black;

  }
  ul li a{
    padding-left: 1rem;
    position: relative;
    display: block;
    width:100%;
    text-decoration: none;
    color: white;
  }
  ul li a:hover{
    color: grey;

  }
    ul li:nth-child(7) {
      align-items: center;
      margin-top: 100%;
      margin-bottom: 0%;
      overflow: hidden;
    }
  .img {
    width: 30px;
   }

  
  

  .company {

    padding: 20px;
    padding-bottom: 40px;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(24, 173, 173);
    text-align: center;
  }

  /* Style the textboxes and button */
  input[type="number"] {
    background: linear-gradient(to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3));
    border: none;
    border-radius: 2rem;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;

  }

  .calculate {
    width: 70px;
  }

  .psfresult {
    padding-left: 5%;
  }

  label {
    display: inline-block;
    width: 130px;
    padding: 2vh;
    text-align: left;
  }

  label span {

    font-size: 15px;
    padding: 10px;
    background: linear-gradient(to right top, #075748, #10cdeb);
    border-radius: 10px;
    border: 2px solid;

  }

  
  button {
    padding: 10px 10px;
    margin: 10px 15%;
    font-size: 16px;
    background-color: #DB592A;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    align-self: center;
    box-shadow: 0 9px #999;
  }

  .button_align {
    padding-left: 65%;
    display: inline-block;

  }
  .button-container {
    text-align: center;
  }

  .button-container button {
    display: inline-block;
    margin-right: 10px;
  }

  button:hover {
    background-color: #45a049;
  }

  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #d33f3f;
    transform: translateY(2px);
  }
  button::after{
    background-color: #10cdeb;
    border: 5px;
  }
 